@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom global styles */
html,
body {
  @apply min-h-screen bg-white antialiased text-gray-900;
}

a {
  @apply text-primary underline;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}